Repository evfjunior/fylo-landing-page: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --fix, yarn prettier --write, yarn test --findRelatedTests --bail, prettier --write

chore(storybook): add dark mode
  .storybook/main.js
  .storybook/preview.js
  package.json
  yarn.lock
Due: prettier --write

chore(storybook): add custom viewports
  .storybook/preview.js
Due: none

chore(storybook): disable Next image optimization
  .storybook/preview.js
Due: none

feat: create 'TestimonialCard' component
  public/assets/profile.jpg
  src/components/TestimonialCard/index.tsx
  src/components/TestimonialCard/stories.tsx
  src/components/TestimonialCard/styles.ts
  src/components/TestimonialCard/test.tsx
  src/styles/global.ts
Due: yarn lint --fix, yarn prettier --write, yarn test --findRelatedTests --bail

build(yarn): rebuild 'yarn-lock' file
  yarn.lock
Due: none

build(deps-dev): bump typescript from 4.5.2 to 4.5.4
  package.json
  yarn.lock
Due: prettier --write

feat: create 'FeatureCard' component
  public/assets/feature.svg
  src/components/FeatureCard/index.tsx
  src/components/FeatureCard/stories.tsx
  src/components/FeatureCard/styles.ts
  src/components/FeatureCard/test.tsx
Due: yarn lint --fix, yarn prettier --write, yarn test --findRelatedTests --bail

build(deps): add missing peer dependency for styled-components
  package.json
Due: prettier --write

chore(deps): install formik and yup dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(signupform): create schema validation and demo 'onSubmitMessage'
  src/utils/others.ts
  src/utils/validations/signup-schema.ts
Due: yarn lint --fix, yarn prettier --write, yarn test --findRelatedTests --bail

build(deps-dev): install @testing-library/user-event
  package.json
  yarn.lock
Due: prettier --write

feat: create 'SignUpForm' component
  src/components/SignUpForm/index.tsx
  src/components/SignUpForm/stories.tsx
  src/components/SignUpForm/styles.ts
  src/components/SignUpForm/test.tsx
Due: yarn lint --fix, yarn prettier --write, yarn test --findRelatedTests --bail

docs: update README
  .github/assets/mobile-preview.jpg
  README.md
Due: prettier --write

build(deps): install @styled-icons/bootstrap icon pack
  package.json
  yarn.lock
Due: prettier --write

fix(button): add missing 'ghost' styles
  src/components/Button/index.tsx
  src/components/Button/stories.tsx
  src/components/Button/styles.ts
  src/components/Button/test.tsx
Due: yarn lint --fix, yarn prettier --write, yarn test --findRelatedTests --bail

fix(logo): remake component to dinamically receive props via an api
  public/assets/logo.svg
  src/components/Logo/index.tsx
  src/components/Logo/stories.tsx
  src/components/Logo/styles.ts
  src/components/Logo/test.tsx
  src/components/Menu/index.tsx
  src/components/Menu/test.tsx
Due: yarn lint --fix, yarn prettier --write, yarn test --findRelatedTests --bail

build(deps): install @styled-icons packages
  package.json
  yarn.lock
Due: prettier --write

feat: create 'Footer' component
  src/components/Footer/data.tsx
  src/components/Footer/index.tsx
  src/components/Footer/stories.tsx
  src/components/Footer/styles.ts
  src/components/Footer/test.tsx
Due: yarn lint --fix, yarn prettier --write, yarn test --findRelatedTests --bail

Path conditions:
  yarn lint --fix: any of: src/**/*.{ts,tsx}
  yarn prettier --write: any of: src/**/*.{ts,tsx}
  yarn test --findRelatedTests --bail: any of: src/**/*.{ts,tsx}
  prettier --write: any of: **/*.{md,yml,json,babelrc,eslintrc,prettierrc}
