Repository evfjunior/fylo-landing-page: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --fix, yarn prettier --write, yarn test --findRelatedTests --bail, prettier --write

chore: update project info
  package.json
Due: prettier --write

chore: create issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
Due: prettier --write

chore: create pull request templates
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/bug_fix.md
  .github/PULL_REQUEST_TEMPLATE/docs_update.md
  .github/PULL_REQUEST_TEMPLATE/minor_changes.md
  .github/PULL_REQUEST_TEMPLATE/new_feature.md
Due: prettier --write

ci(dependabot): rename 'github actions' label
  .github/dependabot.yml
Due: prettier --write

docs: update README
  .github/assets/desktop-preview.jpg
  .github/assets/undraw-nextjs-illustration.svg
  README.md
Due: prettier --write

chore: change google fonts
  src/pages/_document.tsx
  src/styles/global.ts
  src/styles/theme.ts
Due: yarn lint --fix, yarn prettier --write, yarn test --findRelatedTests --bail

chore: create color scheme
  src/styles/global.ts
  src/styles/theme.ts
Due: yarn lint --fix, yarn prettier --write, yarn test --findRelatedTests --bail

chore: change main font size
  src/styles/global.ts
  src/styles/theme.ts
Due: yarn lint --fix, yarn prettier --write, yarn test --findRelatedTests --bail

chore: (auto) update next-env types
  next-env.d.ts
Due: none

chore: remove 'HeroImg' template component
  src/components/Card/index.tsx
  src/components/Card/stories.tsx
  src/components/Card/styles.ts
  src/components/Card/test.tsx
  src/components/HeroImg/index.tsx
  src/components/HeroImg/stories.tsx
  src/components/HeroImg/styles.ts
  src/components/HeroImg/test.tsx
  src/pages/index.tsx
Due: yarn lint --fix, yarn prettier --write, yarn test --findRelatedTests --bail

feat: create 'Logo' component
  src/components/Logo/index.tsx
  src/components/Logo/stories.tsx
  src/components/Logo/styles.ts
  src/components/Logo/test.tsx
Due: yarn lint --fix, yarn prettier --write, yarn test --findRelatedTests --bail

feat: create 'Menu' component
  src/components/Menu/index.tsx
  src/components/Menu/stories.tsx
  src/components/Menu/styles.ts
  src/components/Menu/test.tsx
  src/styles/theme.ts
Due: yarn lint --fix, yarn prettier --write, yarn test --findRelatedTests --bail

chore(deps-dev): bump @storybook/addon-actions from 6.4.8 to 6.4.9
  package.json
  yarn.lock
Due: prettier --write

chore(deps-dev): bump @storybook/addon-essentials from 6.4.8 to 6.4.9
  package.json
  yarn.lock
Due: prettier --write

chore(deps-dev): bump @storybook/addon-links from 6.4.8 to 6.4.9
  package.json
  yarn.lock
Due: prettier --write

chore(deps-dev): bump @storybook/builder-webpack5 from 6.4.8 to 6.4.9
  package.json
  yarn.lock
Due: prettier --write

chore(deps-dev): bump @storybook/manager-webpack5 from 6.4.8 to 6.4.9
  package.json
  yarn.lock
Due: prettier --write

chore(deps-dev): bump @storybook/react from 6.4.8 to 6.4.9
  package.json
  yarn.lock
Due: prettier --write

chore(storybook): reconfigure static directories due to deprecation warning
  .storybook/main.js
  package.json
Due: prettier --write

chore(babel): add plugin configuration due to loose option warning
  .babelrc
Due: prettier --write

chore: switch from web to local fonts
  public/fonts/open-sans-v27-latin-700.woff2
  public/fonts/open-sans-v27-latin-regular.woff2
  public/fonts/raleway-v22-latin-700.woff2
  public/fonts/raleway-v22-latin-regular.woff2
  src/pages/_document.tsx
  src/styles/global.ts
Due: yarn lint --fix, yarn prettier --write, yarn test --findRelatedTests --bail

feat: create 'Button' component
  src/components/Button/index.tsx
  src/components/Button/stories.tsx
  src/components/Button/styles.ts
  src/components/Button/test.tsx
  src/styles/global.ts
  src/styles/theme.ts
Due: yarn lint --fix, yarn prettier --write, yarn test --findRelatedTests --bail

chore(storybook): add custom viewports
  .storybook/preview.js
Due: none

chore(storybook): add dark mode
  .storybook/main.js
  .storybook/preview.js
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  yarn lint --fix: any of: src/**/*.{ts,tsx}
  yarn prettier --write: any of: src/**/*.{ts,tsx}
  yarn test --findRelatedTests --bail: any of: src/**/*.{ts,tsx}
  prettier --write: any of: **/*.{md,yml,json,babelrc,eslintrc,prettierrc}
